*{
    font-family: 'Oswald';
    font-style: normal;
}

.titulo-index{
    align-items: center;
    text-align: center;
    color: #F9FFFD;
}

.header_home{
    background: linear-gradient(270deg, #083B4E 0%, #106021 100%);
    width: 100%;
    border: solid 1px;
    border-color: white;
}

body{
    background: linear-gradient(270deg, #083B4E 0%, #106021 100%);
    height: 100%;
    width: 100%;
    
}

.chat {
    background: beige;
    left: 20px;
    width: 327px;
    height: 245px;
    position: relative;
    border-radius: 50px;
    margin: auto;
    margin-right: 300px;
  }
  .chat:before {
    content: "";
    position: absolute;
    right: 100%;
    top: 140px;
    border-right: 26px solid beige;
    border-top: 30px solid transparent;
    border-bottom: 27px solid transparent;
  }

  .text_inicio{
    text-align: center;
    padding-top: 50px;
  }